<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class = "topnav">
        <h2>UResources</h2>
        <a href="/profile">
            <button class="login-btn">Profile</button>
        </a>
    </div>

    <ul>
        <li><a class="active" href="/secret">Home</a></li>
        <li><a href="/buysell">Buy & Sell</a></li>
        <li><a href="/rentrides">Rent & Rides</a></li>
        <li><a href="/jobs">Jobs</a></li>
    </ul>

    <div class="main-content">
        <h2>HOME PAGE</h2>
        <h1>LoggedIn!</h1>
    </div>
</body>
</html>